*{
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
}


/*Banner Section*/

.banner{
    display: flex;
    margin: 50px 0;
    padding-top: 50px;
}

.banner-left{
    margin-top: 200px;
    margin-left: 100px;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    color: rgb(77, 76, 76);
}
span{
    color: rgb(251, 143, 65);
}

.banner-description{
    font-size: 22px;
    padding: 30px 0;
    color: gray;
}
.banner-button{
    color: white;
    font-size: 20px;
    padding: 22px 45px;
    background-image: linear-gradient(to right,rgb(251, 143, 65), rgb(247, 63, 31));
    border-radius: 40px;
    border: none;
}

.banner-button:hover{
    background-image: linear-gradient(to right,rgb(247, 31, 179) ,rgb(255, 0, 0));
}


/*About Section*/

.about{
    display: flex;
    background-image: url("./images/shapes/7.png");
    background-size: cover;
    
}

.about-image img{
    width: 350px;
    height: 550px;
}
.about-image{
    padding:0 230px;
    padding-top: 70px;
}

.about-right{
    padding-top: 150px;
}
.about-header{
    font-size: 30px;
    color: rgb(103, 103, 103);
}
.abour-description{
    margin-top: 25px;
    font-size: 20px;
}
.about-btn{
    margin-top: 100px;
    color: white;
    font-size: 20px;
    padding: 22px 45px;
    background-image: linear-gradient(to right,rgb(251, 143, 65), rgb(247, 63, 31));
    border-radius: 40px;
    border: none;
}
.about-btn:hover{
    background-image: linear-gradient(to right,rgb(247, 31, 179) ,rgb(255, 0, 0));
}



/*Recipies Section*/





/*Social Media Section*/

.social-media{
    height: 330px;
    
}

.social-media-divider{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin:110px 110px ;
    box-shadow: 0px 0px 20px rgb(169, 169, 169);
    padding: 80px;
    border-radius: 20px;
}
.social-media-fan{
    font-size: 30px;  
}
.social-media-description{
    font-size: 18px; 
}



/*Footer Section*/


.footer-container{
    height: 280px;
    background-color: #0a101a;
    text-align: center;
}
.footer-title{
    color: gray;
    padding-top: 40px;
}
.footer-description{
    padding-top: 40px;
    color: white;
}